.sidebar-dark-success .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-success .nav-sidebar > .nav-item > .nav-link.active {
  color: #FFFFFF !important;
  background-color: var(--main-sidebar-theme-color) !important;
}

.btn-success {
  color: #FFFFFF !important;
  background-color: var(--main-theme-color) !important;
  border-color: var(--main-theme-color) !important;
  opacity: 0.8 !important;
}

.btn-success:hover, .sortable:hover {
  opacity: 1 !important;
}

.sortable {
  color: var(--main-theme-color) !important;
  opacity: 0.8 !important;
  cursor: pointer;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--main-theme-color) !important;
  border-color: var(--main-theme-color) !important;
}

.nav-pills .nav-link:not(.active):hover {
  color: var(--main-theme-color) !important;
}

.table-striped tbody tr:nth-of-type(2n+3) {
  background-color: rgba(var(--main-sidebar-theme-color-rgba), 0.05) !important;
}

.table-striped tbody tr:not(:first-child):hover {
  color: #212529 !important;
  background-color: rgba(var(--main-sidebar-theme-color-rgba), 0.075) !important;
}

.sl-tiny-text-datepicker > label {
  font-weight: 200 !important;
}

//.table-striped thead th {
//  vertical-align: bottom !important;
//  border-bottom: 0px solid #dee2e6 !important;
//}
//
//.table-striped .b-table-top-row th {
//  padding: 0.75rem !important;
//  vertical-align: top !important;
//  border-top: 0px solid #dee2e6 !important;
//}
